{% extends "teacher/base.html" %}

{% block head_title_block %}
专业班级列表
{% endblock %}

{% block title_block %}
<h3>专业班级列表</h3>
{% endblock %}

{% block content_block%}
<div class="container">
    <div class="col col-md-5 col-md-offset-3">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">专业班级</th>
                <th scope="col">学生</th>
            </tr>
        </thead>
        <tbody>
            {% for item in grade_class %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ item.title }}</td>
                <td><a class="btn btn-primary btn-sm" href="{% url 'teacher:grade_class_detail' item.pk %}">学生详情</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}