{% extends "teacher/base.html" %}

{% block head_title_block %}
专业班级学生详情
{% endblock %}

{% block title_block %}
<h3>专业班级学生详情</h3>
{% endblock %}

{% block navbar_block %}
 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'teacher:export_grade_class_detail' grade_class.pk %}" class="hvr-bounce-to-top">导出学生详情</a></li>
    </ul>
</div>
{% endblock %}

{% block content_block%}
<div class="container">
    <div class="col">
        <h4>专业班级： {{ grade_class.title }}</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">学生姓名</th>
                <th scope="col">学号</th>
                <th scope="col">性别</th>
                <th scope="col">电话</th>
                <th scope="col">邮箱</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ student.name }}</td>
                <td>{{ student.student_id }}</td>
                <td>{{ student.get_gender_display }}</td>
                <td>{{ student.phone }}</td>
                <td>{{ student.user.email }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}