{% extends "teacher/base.html" %}

{% block title_block %}
<h3>添加问答题</h3>
{% endblock %}

{% block navbar_block %}
 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'examination:create_multiple_choice_question' paper.pk %}">添加选择题</a></li>
        <li><a href="{% url 'examination:create_essay_question' paper.pk%}">添加问答题</a></li>
        <li><a href="{% url 'examination:paper_info' paper.pk%}">返回</a></li>
    </ul>
</div>
{% endblock %}

{% block content_block%}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h4>试卷：&nbsp;&nbsp;&nbsp;&nbsp;{{ paper.title }}</h4><br>
            <form action="{% url 'examination:create_essay_question' paper.pk %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.title.id_for_label }}">题目：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    {{ form.title }}
                </div>
                <div class="form-group">
                    <label for="{{ form.point.id_for_label }}">分数：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    {{ form.point }}
                </div>
                <div class="form-group">
                    <label for="{{ form.right_answer.id_for_label }}">标准答案：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    {{ form.right_answer }}
                </div>
                
                <button type="submit" name="save" value="just_save" class="btn btn-primary">保存</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="submit" name="save" value="save_and_continue" class="btn btn-primary">保存并继续添加</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </form>

        </div>

    </div>
</div>
{% endblock %}
