{% extends "student/base.html" %}

{% block head_title_block %}
试卷列表
{% endblock %}

{% block title_block %}
<h3>试卷列表</h3>
{% endblock %}

{% block navbar_block %}
 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
    </ul>
</div>
{% endblock %}

{% block content_block%}
{% load already_do_comment %}

<div class="container">
    <h3>互评试卷</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">试卷标题</th>
                <th scope="col">出题人</th>
                <th scope="col">答题学生</th>
                <th scope="col">已互评人数</th>
            </tr>
        </thead>
        <tbody>
            {% for paper_answer in paper_answers %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ paper.title }}</td>
                <td>{{ paper.paper_maker.name }}</td>
                <td>{{ paper_answer.student.name }}</td>
                <td>{{paper_answer.essayanswer_set.all.0.essaycomment_set.all|length}}</td>
                {#{% if paper_answer.essayanswer_set.all.0.essaycomment_set.all.0.student == user.student%}#}
                {% already_do_comment user.student paper_answer.essayanswer_set.all.0.essaycomment_set.all as already_done %}
                {% if already_done %}
                    <td><button class="btn btn-info btn-sm">已互评</button></td>
                {% else %}
                    <td><a href="{% url 'student:do_comment' paper_answer.pk %}" class="btn btn-primary btn-sm">互评</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}