{% extends "student/base.html" %}

{% block head_title_block %}
问答题互评
{% endblock %}

{% block title_block %}
<h3>问答题互评</h3>
{% endblock %}

{% block navbar_block %}
 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
    </ul>
</div>
{% endblock %}

{% block content_block%}
<div class="container">
    <div class="col-md-8 col-md-offset-1 text-center">
        <h3>{{ paper.title }}</h3>
        <p>提示：请留下您最中肯、可观的评价和分数，您的评分会直接影响到其他人的最终成绩</p>
        <a href="{% url 'student:pick_random_paper' paper.pk %}" class="btn btn-primary">随机分配5份试卷</a>
    </div>
</div>
{% endblock %}