{% extends 'student/do_paper_base.html' %}

{% block head_title_block%}
问答题互评详情
{% endblock %}

{% block body_block %}
{% load get_student_answer %}
<div class="container">
<br><br>

<h2 class="text-center">{{ essay_answers.0.paper_answer.paper.title }}（问答题互评详情）</h2>
<br>

{% for essay_answer in essay_answers %}
    <p class="h6">{{ forloop.counter }}.  {{ essay_answer.essay_question.title }} ({{ essay_answer.essay_question.point }}分)</p>
    <div class="card border-success">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title text-success">标准答案</h5>
                <p class="card-text">{{ essay_answer.essay_question.right_answer }}</p>
            </div>
        </div>
    </div>
    <br>

    <div class="card border-primary">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title text-primary">学生回答</h5>
                <p class="card-text">{{ essay_answer.student_answer }}</p>
            </div>
        </div>
    </div>
    <br>

    <div class="card border-warning">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title text-warning">学生评论</h5>
                {% for essay_comment in essay_answer.essaycomment_set.all %}
                    <p class="card-text">{{ forloop.counter }}.
                        {% if show_comment_author == True %}
                            互评人：{{ essay_comment.student.name }},
                        {% endif %} 
                        互评分数：{{ essay_comment.score }}</p>
                    <p class="card_text">{{ essay_comment.comment}}</p>
                {% endfor %}
                <h6 class="cart-title text-warning">平均分：{% get_essay_average_score essay_answer.essaycomment_set.all %}</h6>
            </div>
        </div>
    </div>
    <br><br>
{% endfor %}

</div>
{% endblock %}