{% extends "student/base.html" %}

{% block head_title_block %}
试卷详情
{% endblock %}

{% block title_block %}
<h3>试卷详情</h3>
{% endblock %}

{% block navbar_block %}
 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'student:paper_list' showEssayComment=0 %}">返回列表</a></li>
    </ul>
</div>
{% endblock %}

{% block content_block%}
<div class="container">
    <divc class="row">
    <ul class="list-group col-md-6 col-md-offset-3">
        <li class="list-group-item">标题：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ paper.title }}</li>
        <li class="list-group-item">描述：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ paper.description}}</li>
        <li class="list-group-item">出题人：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ paper.paper_maker.name }}</li>
        <li class="list-group-item">试卷总分：&nbsp;&nbsp;&nbsp;{{ paper.multiple_choice_question_total_score|add:paper.essay_question_total_score}}</li>
        <li class="list-group-item">选择题：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ paper.multiple_choice_question_count }} 道， 共 {{ paper.multiple_choice_question_total_score }} 分</li>
        <li class="list-group-item">问答题：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ paper.essay_question_count }} 道， 共 {{ paper.essay_question_total_score }} 分</li>
        <li class="list-group-item">发布状态：&nbsp;&nbsp;已发布</li>
        <li class="list-group-item">发布时间：&nbsp;&nbsp;&nbsp;{{ paper.publish_date|date }}</li>

        {% load get_student_answer %}
        <!-- {% if paper_result is None %} -->
        <li class="list-group-item">答题状态：&nbsp;&nbsp;&nbsp;选择题：{% get_paper_result_choice_question_status paper_result.pk %}；
            <br>问答题：{% get_paper_result_essay_question_status paper_result.pk %}</li>
        <!-- {% else %}
            <li class="list-group-item">答题状态：&nbsp;&nbsp;&nbsp;选择题：{% get_paper_result_choice_question_status paper_result.pk %}
                <br>问答题：{% get_paper_result_essay_question_status paper_result.pk %}
            </li>
        {% endif %} -->
        <li class="list-group-item"><a href="{% url 'student:do_paper_type_choose' paper.pk %}" class="btn btn-success col-centered">开始答题</a></li>
    </ul>

    </div>
</div>
{% endblock %}