{% extends "teacher/base.html" %}

{% block head_title_block %}
视频列表
{% endblock %}

{% block title_block %}
<h3>视频列表</h3>
{% endblock %}

{% block content_block%}

<div class="container">
    <h3>已发布视频</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">视频标题</th>
                <th scope="col">发布人</th>
                <th scope="col">发布日期</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for video in videos %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ video.title }}</td>
                    <td>{{ video.teacher.name }}</td>
                    <td>{{ video.upload_date|date }}</td>
                    <td><a href="{% url 'video:video_play' video.pk %}">观看</a></td>
                    {% if video.teacher == user.teacher %}
                        <td><a href="{% url 'video:video_manage' video.pk %}">管理</a></td>
                    {% else %}
                        <td><a href="">管理（无权限）</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>已发布图片</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">图片标题</th>
                <th scope="col">发布人</th>
                <th scope="col">发布日期</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for image in images %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ image.title }}</td>
                    <td>{{ image.teacher.name }}</td>
                    <td>{{ image.upload_date|date }}</td>
                    <td><a href="{% url 'video:image_play' image.pk %}">阅览</a></td>
                    {% if image.teacher == user.teacher %}
                        <td><a href="{% url 'video:image_manage' image.pk %}">管理</a></td>
                    {% else %}
                        <td><a href="">管理（无权限）</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}